<!DOCTYPE html>
<html lang="en" style="color-scheme: light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mass Spec Acquisition Tracker{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='simple.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <nav>
      <a href="{{ url_for('project_list') }}">{{ nav_counts.get('projects', '') }} Projects</a>
      <a href="{{ url_for('experiment_list') }}">{{ nav_counts.get('experiments', '') }} Experiments</a>
      <a href="{{ url_for('sample_list') }}">{{ nav_counts.get('samples', '') }} Samples</a>
      <a href="{{ url_for('species_list') }}">{{ nav_counts.get('species', '') }} Species</a>
      <a href="{{ url_for('cell_line_list') }}">{{ nav_counts.get('cell_lines', '') }} Cell Lines</a>
      <a href="{{ url_for('virus_list') }}">{{ nav_counts.get('viruses', '') }} Viruses</a>
      <a href="{{ url_for('file_list') }}">{{ nav_counts.get('files', '') }} Files</a>
      <a href="{{ url_for('user_list') }}">{{ nav_counts.get('users', '') }} Users</a>
{#      <a href="{{ url_for('instrument_usage') }}">Instrument Usage</a>#}
{#      <a href="{{ url_for('disk_usage') }}">Disk Usage</a>#}
{#      <a href="{{ url_for('about') }}">About</a>#}
    </nav>
  </header>
  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="flash flash-{{ category }}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  {% block scripts %}{% endblock %}
</body>
</html>
